Connecting to a SQL connection and executing queries in python and converting the result into a dataframe using pandas.

In [18]:
import mysql.connector
import pandas as pd


mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="password", database = "classicmodels"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001CDE05F58E0>

The cell below returns all records from the employees table and only the records from the customer table to whom an employee (sales rep) has been assigned those records with null value under column salesrepemployeenumber will be ignored.

In [ ]:
mycursor = mydb.cursor()
right_join = "SELECT * FROM customers c Right JOIN employees e on c.salesRepEmployeeNumber = e.employeeNumber;"
mycursor.execute(right_join)

myresult = mycursor.fetchall()

df= pd.DataFrame(list(myresult))
print(df)

The cell below returns all records from the customer table and only the records from the employee table whose job title is sales rep.

In [20]:
mycursor = mydb.cursor()
left_join ="SELECT * FROM customers c LEFT JOIN employees e on c.salesRepEmployeeNumber = e.employeeNumber;"
mycursor.execute(left_join)

myresult = mycursor.fetchall()

df= pd.DataFrame(list(myresult))
print(df)

      0                               1           2        3               4   \
0    103               Atelier graphique     Schmitt  Carine       40.32.2555
1    112              Signal Gift Stores        King     Jean      7025551838
2    114      Australian Collectors, Co.    Ferguson    Peter    03 9520 4555
3    119               La Rochelle Gifts     Labrune  Janine       40.67.8555
4    121              Baane Mini Imports  Bergulfsen   Jonas       07-98 9555
..   ...                             ...         ...      ...             ...
117  486    Motor Mint Distributors Inc.     Salazar     Rosa      2155559857
118  487        Signal Collectibles Ltd.      Taylor      Sue      4155554312
119  489  Double Decker Gift Stores, Ltd       Smith  Thomas   (171) 555-7555
120  495            Diecast Collectables      Franco  Valarie      6175552555
121  496               Kelly's Gift Shop     Snowden     Tony   +64 9 5555500

                               5        6             7         8        9   \
0                  54, rue Royale     None        Nantes      None    44000
1                 8489 Strong St.     None     Las Vegas        NV    83030
2               636 St Kilda Road  Level 3     Melbourne  Victoria     3004
3    67, rue des Cinquante Otages     None        Nantes      None    44000
4          Erling Skakkes gate 78     None       Stavern      None     4110
..                            ...      ...           ...       ...      ...
117             11328 Douglas Av.     None  Philadelphia        PA    71270
118             2793 Furth Circle     None      Brisbane        CA    94217
119               120 Hanover Sq.     None        London      None  WA1 1DP
120                6251 Ingle Ln.     None        Boston        MA    51003
121            Arenales 1938 3'A'     None    Auckland        None     None

     ...      11         12      13         14      15     16  \
0    ...  1370.0   21000.00  1370.0  Hernandez  Gerard  x2028
1    ...  1166.0   71800.00  1166.0   Thompson  Leslie  x4065
2    ...  1611.0  117300.00  1611.0     Fixter    Andy   x101
3    ...  1370.0  118200.00  1370.0  Hernandez  Gerard  x2028
4    ...  1504.0   81700.00  1504.0      Jones   Barry   x102
..   ...     ...        ...     ...        ...     ...    ...
117  ...  1323.0   72600.00  1323.0     Vanauf  George  x4102
118  ...  1165.0   60300.00  1165.0   Jennings  Leslie  x3291
119  ...  1501.0   43300.00  1501.0       Bott   Larry  x2311
120  ...  1188.0   85100.00  1188.0   Firrelli   Julie  x2173
121  ...  1612.0  110000.00  1612.0      Marsh   Peter   x102

                                 17 18      19         20
0    ghernande@classicmodelcars.com  4  1102.0  Sales Rep
1    lthompson@classicmodelcars.com  1  1143.0  Sales Rep
2      afixter@classicmodelcars.com  6  1088.0  Sales Rep
3    ghernande@classicmodelcars.com  4  1102.0  Sales Rep
4       bjones@classicmodelcars.com  7  1102.0  Sales Rep
..                              ... ..     ...        ...
117    gvanauf@classicmodelcars.com  3  1143.0  Sales Rep
118  ljennings@classicmodelcars.com  1  1143.0  Sales Rep
119      lbott@classicmodelcars.com  7  1102.0  Sales Rep
120  jfirrelli@classicmodelcars.com  2  1143.0  Sales Rep
121     pmarsh@classicmodelcars.com  6  1088.0  Sales Rep

[122 rows x 21 columns]

The cell below returns only those records from the customer and employees table where the customer has a sales rep assigned.

In [21]:
mycursor = mydb.cursor()
inner_join ="SELECT * FROM customers c INNER JOIN employees e on c.salesRepEmployeeNumber = e.employeeNumber;"
mycursor.execute(inner_join)

myresult = mycursor.fetchall()

df= pd.DataFrame(list(myresult))
print(df)

     0                             1          2            3   \
0   124  Mini Gifts Distributors Ltd.     Nelson        Susan
1   129               Mini Wheels Co.     Murphy        Julie
2   161          Technics Stores Inc.  Hashimoto         Juri
3   321      Corporate Gift Ideas Co.      Brown        Julie
4   450     The Sharp Gifts Warehouse      Frick          Sue
..  ...                           ...        ...          ...
95  298               Vida Sport, Ltd       Holz       Mihael
96  344                   CAF Imports  Fernandez        Jesus
97  376         Precious Collectables        Urs        Braun
98  458    Corrida Auto Replicas, Ltd     Sommer      Martín
99  484    Iberia Gift Imports, Corp.       Roel  José Pedro

                 4                          5                      6   \
0        4155551450            5677 Strong St.                   None
1        6505555787  5557 North Pendale Street                   None
2        6505556809          9408 Furth Circle                   None
3        6505551386            7734 Strong St.                   None
4        4085553659             3086 Ingle Ln.                   None
..              ...                        ...                    ...
95      0897-034555          Grenzacherweg 237                   None
96  +34 913 728 555            Merchants House  27-30 Merchant's Quay
97      0452-076555               Hauptstr. 29                   None
98   (91) 555 22 82             C/ Araquil, 67                   None
99   (95) 555 82 82              C/ Romero, 33                   None

               7     8      9   ...    11         12    13        14      15  \
0      San Rafael    CA  97562  ...  1165  210500.00  1165  Jennings  Leslie
1   San Francisco    CA  94217  ...  1165   64600.00  1165  Jennings  Leslie
2      Burlingame    CA  94217  ...  1165   84600.00  1165  Jennings  Leslie
3   San Francisco    CA  94217  ...  1165  105000.00  1165  Jennings  Leslie
4        San Jose    CA  94217  ...  1165   77600.00  1165  Jennings  Leslie
..            ...   ...    ...  ...   ...        ...   ...       ...     ...
95         Genève  None   1203  ...  1702  141300.00  1702    Gerard  Martin
96         Madrid  None  28023  ...  1702   59600.00  1702    Gerard  Martin
97           Bern  None   3012  ...  1702       0.00  1702    Gerard  Martin
98         Madrid  None  28023  ...  1702  104600.00  1702    Gerard  Martin
99        Sevilla  None  41101  ...  1702   65700.00  1702    Gerard  Martin

       16                              17 18    19         20
0   x3291  ljennings@classicmodelcars.com  1  1143  Sales Rep
1   x3291  ljennings@classicmodelcars.com  1  1143  Sales Rep
2   x3291  ljennings@classicmodelcars.com  1  1143  Sales Rep
3   x3291  ljennings@classicmodelcars.com  1  1143  Sales Rep
4   x3291  ljennings@classicmodelcars.com  1  1143  Sales Rep
..    ...                             ... ..   ...        ...
95  x2312    mgerard@classicmodelcars.com  4  1102  Sales Rep
96  x2312    mgerard@classicmodelcars.com  4  1102  Sales Rep
97  x2312    mgerard@classicmodelcars.com  4  1102  Sales Rep
98  x2312    mgerard@classicmodelcars.com  4  1102  Sales Rep
99  x2312    mgerard@classicmodelcars.com  4  1102  Sales Rep

[100 rows x 21 columns]